.contact {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    font-family: "Inter";

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 0.8em;
    }

    .input-group {
        display: flex;
        flex-direction: column;

        @media(min-width: 576px) {
            flex-direction: row;
            justify-content: space-between;

        }
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 3px 2px;
        width: 100%;
        font-size: 0.8 rem;

        &:focus {
            border: 1px solid #84caff;
            outline: #d1e9ff;
            border-radius: 5px;
        }
    }

    #message {
        border-radius: 5px;

        &:focus {
            box-shadow: 0 1px 2px rgb(16 24 40 / 5%),
                0 0 0 4px #d1e9ff;
        }
    }

    #message.err {
        border: 1px solid #f89687;

        &:focus {
            box-shadow: 0 1px 2px rgb(16 24 40 / 5%), 0 0 0 4px #ffd3cc;
        }
    }

    .errormsg {
        color: red;
        font-size: 0.8rem;
    }


    #btn_submit {
        margin-top: 10px;
        background: #1570EF;
        color: white;
        border: 0;
        width: 100%;
        padding: 10px 59px;
        border-radius: 5px;
        cursor: pointer;

        &:focus {
            background-color: #175CD3;
        }

        &:hover {
            background-color: #175CD3;
        }

        &:disabled {
            background: #B2DDFF;
        }
    }


    @media(min-width: 576px) {
        width: 60vw;
        margin: 0 auto;
    }
}