.contact {
    display: flex;
    flex-direction: column;
    margin: 0 15px;


    label {
        display: block;
        margin-bottom: 5px;
        font-size: 0.8em;
    }

    .input-group {
        display: flex;
        flex-direction: column;

        @media(min-width: 576px) {
            flex-direction: row;
            justify-content: space-between;

        }
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 3px 2px;
        width: 100%;
    }

    #message {
        border-radius: 5px;

        &:focus {
            filter: drop-shadow(0 0 0 4px);
        }

    }

    .errormsg {
        color: red;
        font-size: 0.8rem;
    }

    .err {
        border: 1px solid red;

        &:focus {
            filter: drop-shadow(0 0 0 4px red);
        }
    }

    #btn_submit {
        margin-top: 10px;
        background: #1570EF;
        color: white;
        border: 0;
        width: 100%;
        padding: 10px 59px;
        border-radius: 5px;
        cursor: pointer;

        &:focus {
            background-color: #175CD3;
        }

        &:hover {
            background-color: #175CD3;
        }

        &:disabled {
            background: #B2DDFF;
        }
    }



    @media(min-width: 576px) {
        width: 60vw;
        margin: 0 auto;
    }
}